<footer>
    <div id="footer">
        <nav>
            <br>
            <a href="{{ SITEURL }}/index.html">Blog Home</a>&nbsp;&nbsp;
            <a href="{{ SITEURL }}/archives.html">Archive</a>
            <ul>
<!--             {% for page in PAGES %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>{% if not loop.last %} ::{% endif %}</li>
            {% endfor %} -->
<!--             {% if categories|length > 1 %}
                <li>:: <a href="{{ SITEURL }}/categories.html">Catégories</a></li>
            {% endif %}
            {% if tags|length > 1 %}
                <li>:: <a href="{{ SITEURL }}/tags.html">Tags</a></li>
            {% endif %} -->
            </ul>
        </nav>
    </div>
</footer>