    <div id="header">
        <h1><a href="/index.html">Kristen M. Thyng<span>Ph.D. </span></a></h1>
        <div class="submenu">
            <ul>
                <li><a href="./research.html">Research</a></li>
                <li><a href="./publications.html">Publications</a></li>
                <li><a href="./presentations.html">Presentations</a></li>
                <li><a href="./people.html">People</a></li>
                <li><a href="./teaching.html">Teaching</a></li>
                <li><a href="./gallery.html">Gallery</a></li>
                <li><a href="./media.html">Media</a></li><br>
                <li><a href="./blog/index.html">Blog</a></li>
                <li><a href="./cv.pdf">CV</a></li>
            </ul>
        </div>
        <div class="clearfloat"></div>
<!--         <div id="navcontainer">
            <ul id="navlist">
                <li id="active"><a href="#">Home</a></li>
                <li><a href="research.html">Research</a></li>
                <li><a href="publications.html">Publications</a></li>
                <li><a href="teaching.html">Teaching</a></li>
                <li><a href=""></a></li>
            </ul>
        </div> -->
<!--         <div class="clearfloat"></div>
        <div><img src="{{ SITEURL }}/theme/images/header.jpg" alt="" width=100% /></div> -->
    </div>
